<h1>Boss Status</h1>
<h2>Epic Bosses</h2>
<table cellspacing='0' cellpadding='0' border='0' class='default'>
	<tr>
		<th class='12013'></th>
		<th>Level</th>
		<th>Status</th>
		<th>Respawn</th>
	</tr>
	<!-- BEGIN BLOCK_RANK_BOSSES -->
		<tr class='{RANK_BOSS_CSS_ADJUSTMENT}'>
			<td>{RANK_BOSS_NAME}</td>
			<td>{RANK_BOSS_LEVEL}</td>
			<td style='font-weight:bold;'>{RANK_BOSS_STATUS}</td>
			<td>{RANK_BOSS_RESPAWN}</td>
		</tr>
	<!-- END BLOCK_RANK_BOSSES -->
</table>
<hr />
<h2>Raid Bosses</h2>
<table cellspacing='0' cellpadding='0' border='0' class='default'>
	<tr>
		<th class='12013'></th>
		<th>Level</th>
		<th>Status</th>
		<th>Respawn</th>
	</tr>
	<!-- BEGIN BLOCK_RAID_BOSSES -->
		<tr class='{RANK_BOSS_CSS_ADJUSTMENT}'>
			<td>{RANK_BOSS_NAME}</td>
			<td>{RANK_BOSS_LEVEL}</td>
			<td style='font-weight:bold;'>{RANK_BOSS_STATUS}</td>
			<td>{RANK_BOSS_RESPAWN}</td>
		</tr>
	<!-- END BLOCK_RAID_BOSSES -->
</table>