<noscript>
	<meta http-equiv="refresh" content="0; URL=../nojs.html">
</noscript>
<script>
	if(typeof index === "undefined" || index == ""){
		var url = window.location.href.split('/');
		window.location.href = url[0] + '//' + url[2];
	}
</script>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	<h1 class="h2">Give privileges</h1>
</div>
<!-- BEGIN CONFIG_ICP_PANEL_GIVE_PRIVILEGES -->
	<div class="card mb-3">
		<div class="card-header text-center">
			Privileges informations
		</div>
		<div class="card-body pb-0">
			<div class="row text-center">
				<div class="col-sm" style="min-width:200px;">
					<div class="table-responsive">
						<table class="table table-striped table-sm">
							<thead>
								<tr>
									<th valign="middle">Administrator</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td valign="middle"><span data-feather="check"></span> Profile</td>
								</tr>
								<tr>
									<td valign="middle"><span data-feather="check"></span> News</td>
								</tr>
								<tr>
									<td valign="middle"><span data-feather="check"></span> Messages</td>
								</tr>
								<tr>
									<td valign="middle"><span data-feather="check"></span> Screenshots</td>
								</tr>
								<tr>
									<td valign="middle"><span data-feather="check"></span> Videos</td>
								</tr>
								<tr>
									<td valign="middle"><span data-feather="check"></span> Prime Shop</td>
								</tr>
								<tr>
									<td valign="middle"><span data-feather="check"></span> Send donations</td>
								</tr>
								<tr>
									<td valign="middle"><span data-feather="check"></span> Give privileges</td>
								</tr>
								<tr>
									<td valign="middle"><span data-feather="check"></span> Configs</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-sm" style="min-width:200px;">
					<div class="table-responsive">
						<table class="table table-striped table-sm">
							<thead>
								<tr>
									<th valign="middle">GM Global lv 1</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td valign="middle"><span data-feather="check"></span> Profile</td>
								</tr>
								<tr>
									<td valign="middle"><span data-feather="check"></span> News</td>
								</tr>
								<tr>
									<td valign="middle"><span data-feather="check"></span> Messages</td>
								</tr>
								<tr>
									<td valign="middle"><span data-feather="check"></span> Screenshots</td>
								</tr>
								<tr>
									<td valign="middle"><span data-feather="check"></span> Videos</td>
								</tr>
								<tr>
									<td valign="middle"><span data-feather="check"></span> Prime Shop</td>
								</tr>
								<tr>
									<td valign="middle"><span data-feather="check"></span> Send donations</td>
								</tr>
								<tr>
									<td valign="middle"><span style="opacity:0.5;"><span data-feather="x"></span> <del class="text-muted">Give privileges</del></span></td>
								</tr>
								<tr>
									<td valign="middle"><span style="opacity:0.5;"><span data-feather="x"></span> <del class="text-muted">Configs</del></span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-sm" style="min-width:200px;">
					<div class="table-responsive">
						<table class="table table-striped table-sm">
							<thead>
								<tr>
									<th valign="middle">GM Global lv 2</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td valign="middle"><span data-feather="check"></span> Profile</td>
								</tr>
								<tr>
									<td valign="middle"><span data-feather="check"></span> News</td>
								</tr>
								<tr>
									<td valign="middle"><span data-feather="check"></span> Messages</td>
								</tr>
								<tr>
									<td valign="middle"><span data-feather="check"></span> Screenshots</td>
								</tr>
								<tr>
									<td valign="middle"><span data-feather="check"></span> Videos</td>
								</tr>
								<tr>
									<td valign="middle"><span style="opacity:0.5;"><span data-feather="x"></span> <del class="text-muted">Prime Shop</del></span></td>
								</tr>
								<tr>
									<td valign="middle"><span style="opacity:0.5;"><span data-feather="x"></span> <del class="text-muted">Send donations</del></span></td>
								</tr>
								<tr>
									<td valign="middle"><span style="opacity:0.5;"><span data-feather="x"></span> <del class="text-muted">Give privileges</del></span></td>
								</tr>
								<tr>
									<td valign="middle"><span style="opacity:0.5;"><span data-feather="x"></span> <del class="text-muted">Configs</del></span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-sm" style="min-width:200px;">
					<div class="table-responsive">
						<table class="table table-striped table-sm">
							<thead>
								<tr>
									<th valign="middle">GM Helper lv 1</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td valign="middle"><span data-feather="check"></span> Profile</td>
								</tr>
								<tr>
									<td valign="middle"><span style="opacity:0.5;"><span data-feather="x"></span> <del class="text-muted">News</del></span></td>
								</tr>
								<tr>
									<td valign="middle"><span data-feather="check"></span> Messages</td>
								</tr>
								<tr>
									<td valign="middle"><span data-feather="check"></span> Screenshots</td>
								</tr>
								<tr>
									<td valign="middle"><span data-feather="check"></span> Videos</td>
								</tr>
								<tr>
									<td valign="middle"><span style="opacity:0.5;"><span data-feather="x"></span> <del class="text-muted">Prime Shop</del></span></td>
								</tr>
								<tr>
									<td valign="middle"><span style="opacity:0.5;"><span data-feather="x"></span> <del class="text-muted">Send donations</del></span></td>
								</tr>
								<tr>
									<td valign="middle"><span style="opacity:0.5;"><span data-feather="x"></span> <del class="text-muted">Give privileges</del></span></td>
								</tr>
								<tr>
									<td valign="middle"><span style="opacity:0.5;"><span data-feather="x"></span> <del class="text-muted">Configs</del></span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-sm" style="min-width:200px;">
					<div class="table-responsive">
						<table class="table table-striped table-sm">
							<thead>
								<tr>
									<th valign="middle">GM Helper lv 2</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td valign="middle"><span data-feather="check"></span> Profile</td>
								</tr>
								<tr>
									<td valign="middle"><span style="opacity:0.5;"><span data-feather="x"></span> <del class="text-muted">News</del></span></td>
								</tr>
								<tr>
									<td valign="middle"><span data-feather="check"></span> Messages</td>
								</tr>
								<tr>
									<td valign="middle"><span style="opacity:0.5;"><span data-feather="x"></span> <del class="text-muted">Screenshots</del></span></td>
								</tr>
								<tr>
									<td valign="middle"><span style="opacity:0.5;"><span data-feather="x"></span> <del class="text-muted">Videos</del></span></td>
								</tr>
								<tr>
									<td valign="middle"><span style="opacity:0.5;"><span data-feather="x"></span> <del class="text-muted">Prime Shop</del></span></td>
								</tr>
								<tr>
									<td valign="middle"><span style="opacity:0.5;"><span data-feather="x"></span> <del class="text-muted">Send donations</del></span></td>
								</tr>
								<tr>
									<td valign="middle"><span style="opacity:0.5;"><span data-feather="x"></span> <del class="text-muted">Give privileges</del></span></td>
								</tr>
								<tr>
									<td valign="middle"><span style="opacity:0.5;"><span data-feather="x"></span> <del class="text-muted">Configs</del></span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card mb-3">
		<div class="card-header text-center">
			Set privileges
		</div>
		<div class="card-body pb-0">
			<div class="row">
				<div class="col-sm-6">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text">Account name</span>
						</div>
						<input type="text" class="form-control accounts" form="submitPrivileges" name="username" placeholder="Account name" autocomplete="off" required>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="row">
						<div class="col-sm-8">
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text">Privileges</span>
								</div>
								<select class="form-select" name="privilegeId" form="submitPrivileges" required>
									<option value="10">Administrator</option>
									<option value="9">GM Global lv 1</option>
									<option value="8">GM Global lv 2</option>
									<option value="7">GM Helper lv 1</option>
									<option value="6">GM Helper lv 2</option>
									<option value="0">Player / Unbanned</option>
									<option value="-1">Banned</option>
								</select>
							</div>
						</div>
						<div class="col-sm-4 mb-3" style="min-width:100px;">
							<input type="submit" class="btn btn-primary w-100" name="submitPrivileges" form="submitPrivileges" value="Apply">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<form action="" method="post" style="margin:0px;padding:0px" id="submitPrivileges"></form>
<!-- END CONFIG_ICP_PANEL_GIVE_PRIVILEGES -->
<!-- BEGIN CONFIG_ICP_PANEL_GIVE_PRIVILEGES_NULL -->
	<p class="text-center">Unauthorized user.</p>
<!-- END CONFIG_ICP_PANEL_GIVE_PRIVILEGES_NULL -->