<noscript>
	<meta http-equiv="refresh" content="0; URL=../nojs.html">
</noscript>
<script>
	if(typeof index === "undefined" || index == ""){
		var url = window.location.href.split('/');
		window.location.href = url[0] + '//' + url[2];
	}
</script>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	<h1 class="h2">Change password</h1>
</div>
<form method="post" action="">
	<div class="form-floating mb-3">
		<input type="password" class="form-control" id="floatingPassword1" placeholder="Current Password" name="password" autocomplete="off" required>
		<label for="floatingPassword1">Current Password</label>
	</div>
	<div class="form-floating mb-3">
		<input type="password" class="form-control" id="floatingPassword2" placeholder="New Password" name="password1" autocomplete="off" required>
		<label for="floatingPassword2">New Password</label>
	</div>
	<div class="form-floating mb-3">
		<input type="password" class="form-control" id="floatingPassword3" placeholder="New Password" name="password2" autocomplete="off" required>
		<label for="floatingPassword3">New Password</label>
	</div>
	<input type="submit" class="w-100 btn btn-lg btn-primary" name="passChange" value="Change Password">
</form>