<h1 id='13001'></h1>
<hr />
<!-- BEGIN BLOCK_NEWS -->
	<div class='news'>
		<a class='imgn' href='./?icp=news&id={NEWS_ID}'><img src='images/profiles/{NEWS_PROFILE}' /></a>
		<div class='contentn'>
			<a href='./?icp=news&id={NEWS_ID}' class='titlen'>{NEWS_TITLE}</a>
			<div class='textn'>
				{NEWS_TEXT_FULL}
			</div>
			<div class='finalinfo'>
				<div class='datan'>{NEWS_DATE}</div>
			</div>
		</div>
	</div>
	<div class='shadownew'></div>
<!-- END BLOCK_NEWS -->
<div class='pddInner'>
	<input style='margin: 40px auto 0; display:table;' type='button' onclick='history.back();' class='default 13004' />
</div>
<br /><br />