<h1>Castle & Siege</h1>
<div style='display:table;width:100%;'>
	<!-- BEGIN BLOCK_RANK_CASTLES -->
		<hr />
		<div class='castled'>
			<div class='ct' style="text-transform: capitalize;">{RANK_CASTLE_NAME} Castle</div>
			<div>
				<div class='imgc {RANK_CASTLE_NAME}'><span></span></div>
				<div class='ci'>
					<div class='co 11003'></div>
					<div class='cc'>{RANK_CASTLE_CLAN}</div>
					<div class='co 11004'></div>
					<div class='cc'>{RANK_CASTLE_OWNER}</div>
					<div class='co 11005'></div>
					<div class='cc'>{RANK_CASTLE_ALLY}</div>
				</div>
			</div>
			<div class='nwar'>
				<div style='padding:0 0 7px;'><b class='11006'></b> {RANK_CASTLE_DATE} &nbsp;&nbsp;&nbsp; <b class='11011'></b> {RANK_CASTLE_TAX}%</div>
				<div style='padding:0 0 7px;'><b class='11007'></b> {RANK_CASTLE_ATTACKERS}</div>
				<div style='padding:0 0 7px;'><b class='11008'></b> {RANK_CASTLE_DEFENDERS}</div>
			</div>
		</div>
	<!-- END BLOCK_RANK_CASTLES -->
</div>
<br />