<h1 id='12026'></h1>

<div style='padding: 0 20px 40px 20px;'>
	<div class='fullGallery'>
		<div>
			<!-- BEGIN BLOCK_GALLERY_SCREENSHOTS -->
				<a href='images/screenshots/{INDEX_SCREENSHOTS_IMG}' rel='prettyPhoto[fullGallery]'><div class='img' style='background: transparent url(images/screenshots/thumbs/{INDEX_SCREENSHOTS_IMG}) no-repeat center center'></div><span></span></a>
			<!-- END BLOCK_GALLERY_SCREENSHOTS -->
		</div>
	</div>
	<br>
	<div class='paginacao'>
		<center>
			{PAGINATION}
		</center>
	</div>
	<br>
	<br>
	<div class='rmsg' style='background: #fff2a8; color: #000;' id='11998'></div>
</div>