<span id='ollyLoc'></span>
<h1>Grand Olympiad</h1>
<div class='horMenu'>
	<a href='?icp=oly_rank#ollyLoc'>Ranking</a>
	<a href='#ollyLoc' class='act 12999'></a>
	<a href='?icp=oly_allheroes#ollyLoc' class='12025'></a>
</div>
<div style='text-align:center; margin: 0 0 20px 0;' id='12064'></div>
<table cellspacing="0" cellpadding="0" border="0" class='default'>
	<tr>
		<th class='12013'></th>
		<th>Class</th>
		<th>Clan</th>
		<th>Ally</th>
	</tr>
	<!-- BEGIN BLOCK_RANK_HEROS -->
		<tr class='{RANK_HERO_CSS_ADJUSTMENT}'>
			<td>{RANK_HERO_NAME}</td>
			<td class='foco'>{RANK_HERO_CLASS}</td>
			<td>{RANK_HERO_CREST_CLAN}{RANK_HERO_CLAN}</td>
			<td>{RANK_HERO_ALLYANCE}</td>
		</tr>
	<!-- END BLOCK_RANK_HEROS -->
</table>
<br>
