<h1 class='12039'></h1>

<div style='padding: 0 20px 40px 20px;'>

<p class='cbold' id='12102'></p>
<br><br>
<p class='cbold' id='12106'></p>

<p class='cbold' id='12103'><br>
<p class='cbold' id='12104'></p>

<br><br>
<ul style='font-size:15px;'>
	<li>{DONATE_COIN_NAME}: <b>R$ 1,00</b></li>
</ul>


To make your donation log in User Panel.
<br><br>
<div style='display:table;margin: 0 auto;'><a target='_blank' href='?icp=panel' class='default dbig'>Control Painel</a></div>

<!-- pay pal FIM -->


</div>