<h1>Top Adenas</h1>
<table cellspacing="0" cellpadding="0" border="0" class='default'>
	<tr>
		<th class='pos'></th>
		<th class='12013'></th>
		<th>GoldBar</th>
		<th>Adenas</th>
		<th>Total</th>
	</tr>
	<!-- BEGIN BLOCK_RANK_ADENA -->
		<tr class='{RANK_ADENA_CSS_ADJUSTMENT}'>
			<td class='pos'>{RANK_ADENA_POS}</td>
			<td><b>{RANK_ADENA_NAME}</b></td>
			<td>{RANK_ADENA_BGCOUNT}</td>
			<td class='foco'>{RANK_ADENA_COUNT}</td>
			<td>{RANK_ADENA_TOTAL}</td>
		</tr>
	<!-- END BLOCK_RANK_ADENA -->
</table>
