<span id='ollyLoc'></span>
<h1>Grand Olympiad</h1>
<div class='horMenu'>
	<a href='#ollyLoc' class='act'>Ranking</a>
	<a href='?icp=oly_heroes#ollyLoc' class='12999'></a>
	<a href='?icp=oly_allheroes#ollyLoc' class='12025'></a>
</div>
<div style='text-align:center; margin: 0 0 20px 0;' id='12064'></div>
<table cellspacing="0" cellpadding="0" border="0" class='default'>
	<tr>
		<th class='pos'></th>
		<th class='12013'></th>
		<th>Class</th>
		<th>Pts</th>
		<th>Clan</th>
	</tr>
	<!-- BEGIN BLOCK_RANK_OLYMPIADS -->
		<tr class='{RANK_OLY_CSS_ADJUSTMENT}'>
			<td class='pos'>{RANK_OLY_POS}</td>
			<td>{RANK_OLY_NAME}</td>
			<td class='foco'>{RANK_OLY_CLASS}</td>
			<td>{RANK_OLY_POINTS}</td>
			<td>{RANK_OLY_CREST_CLAN}{RANK_OLY_CLAN}</td>
		</tr>
	<!-- END BLOCK_RANK_OLYMPIADS -->
</table>
<br>
