<h1>Top Online</h1>
<table cellspacing="0" cellpadding="0" border="0" class='default'>
	<tr>
		<th class='pos'></th>
		<th class='12013'></th>
		<th id="29006"></th>
		<th>Clan</th>
	</tr>
	<!-- BEGIN BLOCK_RANK_ONLINE -->
		<tr class="{RANK_ONLINE_CSS_ADJUSTMENT}">
			<td class='pos'>{RANK_ONLINE_POS}</td>
			<td><b>{RANK_ONLINE_NAME}</b></td>
			<td class='foco' style='font-size:11px;'>{RANK_ONLINE_TIME}</td>
			<td>{RANK_ONLINE_CREST_CLAN}{RANK_ONLINE_CLAN}</td>
		</tr>
	<!-- END BLOCK_RANK_ONLINE -->
</table>
<br>
