<h1 class='13005'></h1>
<div class='pddInner'>
	<span id='12084'></span><br /><br />
</div>
<hr />
<div id=\"fb-root\"></div>
<script>
	(function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = \"//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.7&appId=577018195656213\";
	fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>
<h1 id='29002'></h1>
<div class='pddInner'>
	<span id='12998'></span>
</div>