<h1>Top Clan</h1>
<table cellspacing="0" cellpadding="0" border="0" class='default'>
	<tr>
		<th class='pos'></th>
		<th class='12013'></th>
		<th>Ally</th>
		<th title='Level / Rep.'>Lvl / Rep.</th>
	</tr>
	<!-- BEGIN BLOCK_RANK_CLAN -->
		<tr class='{RANK_CLAN_CSS_ADJUSTMENT}'>
			<td class='pos'>{RANK_CLAN_POS}</td>
			<td>
				<b>{RANK_CLAN_CREST}{RANK_CLAN_NAME}</b>
				<br /><span style='font-size:11px;font-weight:normal;opacity:0.5;'><span class='12011'></span>: {RANK_CLAN_LEADER} &nbsp;&bull;&nbsp; Total: {RANK_CLAN_PVPS} PvP's
			</td>
			<td>{RANK_CLAN_ALLYANCE}</td>
			<td>{RANK_CLAN_LEVEL} / {RANK_CLAN_REPUTATION}</td>
		</tr>
	<!-- END BLOCK_RANK_CLAN -->
</table>
<br>
