<h1>TOP PVP</h1>

<table cellspacing="0" cellpadding="0" border="0" class='default'>
	<tr class='cabecalho'>
		<th>Pos</th>
		<th class='12013'></th>
		<th>Clan</th>
		<th>Class</th>
		<th>PvP's</th>
	</tr>
	<!-- BEGIN BLOCK_RANK_PVP -->
		<tr class="{RANK_PVPPK_CSS_ADJUSTMENT}">
			<td>{RANK_PVPPK_POS}</td>
			<td>{RANK_PVPPK_NAME}</td>
			<td>{RANK_PVPPK_CREST_CLAN}{RANK_PVPPK_CLAN}</td>
			<td>{RANK_PVPPK_CLASS}</td>
			<td class='foco'>{RANK_PVPPK_COUNT}</td>
		</tr>
	<!-- END BLOCK_RANK_PVP -->
</table>

